.login-form-container {
	display: flex;
	justify-content: center; /* Центрируем контейнер по горизонтали */
	align-items: center; /* Центрируем контейнер по вертикали */
	height: 70vh; /* Задаем высоту контейнера равную высоте экрана */
}

.steps {
	display: flex;
	flex-direction: column;
	justify-content: center; /* Центрируем контейнер по горизонтали */
}

.description-step {
	padding-top: 20px;
	display: flex;
	justify-content: center; /* Центрируем контейнер по горизонтали */
	align-items: center; /* Центрируем контейнер по вертикали */
}

.login-title {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
	margin-top: 0;
}

.login-form {
	width: 30%;
	background-color: rgb(255, 255, 255);
	padding: 20px; /* Добавим немного отступа для лучшего визуального оформления */
	border-radius: 5px; /* Можно добавить скругление углов для формы */
}

.login-form-forgot {
	float: right;
}

.ant-col-rtl .login-form-forgot {
	float: left;
}

.login-form-button {
	width: 100%;
	margin-bottom: 10px;
}